body {
    font-family: Helvetica, Arial, Sans-Serif;
    background: #2b2b2b;
    color: #d9d9d9;
}

p{
    margin-bottom: 0;
}

#content{
    padding-top: 5em;
}

header h1{
    padding-left: 120px;
}
header h1{
    background: url(images/app-icon.png) left no-repeat;
}

h1,h2{
    color: #d9d9d9;
    margin-bottom: 0;
}

header h1 {
    font-size: 60px;
    font-weight: normal;
    line-height: 74px;
    text-shadow: 0px 0px 10px red;
}

h2{
    font-weight: bolder;
}

section {
    margin-bottom: 2em;
}

section p {
    font-size: 22px;
    line-height: 35px;
    color: #d9d9d9;
}

section h2 {
    margin: 0;
    font-size: 40px;
    font-weight: normal;
    text-shadow: 0px 0px 10px red;
}

section ul {
    margin-top: 15px;
    font-size: 22px;
    line-height: 45px;
    text-shadow: 0px 1px 5px #000;
}

.app-store-links li{
    list-style-type: none;
    display: inline-block;
    padding-right: 1em;
}

#attribution-label{
    font-weight: bolder;
}

#attribution a{
    color: #ccccff;
}